.mainPage {
  background: #FFFFFF;

  .header {
	height: 64px;
	padding: 16px;
	display: flex;
	background: #3399FF;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;

	.icon {
	  font-size: 32px;
	  transition: 0.2s ease-out;
	}

	.icon:hover {
	  font-size: 36px;
	  color: white;
	  transition: 0.2s ease-in;
	}
  }

  .content {
	padding: 16px;
	background: #FFF;
  }

  .sider {
	background: #FFFFFF;
	box-sizing: border-box;
  }

  .mainBar {
	min-height: 512px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background: #FFF;
	align-content: center;
	align-items: center;

	.cardsContainer {
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: space-evenly;
	}
  }

  .footer {
	background: #FFF;
	text-align: center;
  }

  .card {
	width: 196px;
	margin: 0 8px 16px 8px;
	border-radius: 8px;
  }
}