.infoPage {
  background: #FFFFFF;

  .header {
	height: 64px;
	padding: 16px;
	display: flex;
	background: #3399FF;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;

	.icon {
	  font-size: 32px;
	  transition: 0.2s ease-out;
	}

	.icon:hover {
	  font-size: 36px;
	  color: white;
	  transition: 0.2s ease-in;
	}
  }

  .content-wrapper {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	.left-side {
	  display: flex;
	  flex-direction: row;
	  flex-grow: 1;

	  justify-content: space-evenly;

	  .card-image {
		height: 384px;
	  }

	  .attacks-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		max-width: 384px;
		justify-content: space-evenly;

		.descriptions {
		  width: 384px;
		}
	  }

	  @media (max-width: 1023px) {
		.attacks-container {
		  display: none;
		}
	  }
	}

	.right-side {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  max-width: 256px;
	}
  }

  .footer {
	background: #FFF;
	text-align: center;
  }
}

